  <ul>
    <li class=left-track>
      <button>PLAY.</button>
      <button>STOP.</button>
    </li>
    <li class=right-track>
      <button>PLAY.</button>
      <button>STOP.</button>
    </li>
  </ul>