	@import 'boilerplate';

	@import 'compass';

	@mixin lights { font-family: 'Codystar', cursive; }
	@mixin chau { font-family: 'Chau Philomene One', sans-serif; }
	@mixin sketch { font-family: 'Londrina Sketch', cursive; }
	@mixin outline { font-family: 'Londrina Outline', cursive; }
	@mixin eighties { font-family: 'Monofett', cursive; }
	@mixin tiny { font-family: 'Dorsa', sans-serif; }

	@mixin marker ( $which ) {
		@if $which == 1 {
			font-family: 'Give You Glory', cursive;
		} @else if $which == 2 {
			font-family: 'Gochi Hand', cursive;
		} @else if $which == 3 {
			font-family: 'Shadows Into Light Two', cursive;
		} @else if $which == 4 {
			font-family: 'Days One', sans-serif;
		}
	}

	$width: 89.34%;

	$lime: #c3ff94;
	$teal: #2cb2b8;
	$purp: #954ada;
	$pink: #ff94f6;
	$yella: #f6ff94;
	$sky: #c3d6ff;
	$bg: #e8feff;
	$coral: #f16565;

	@mixin animation ( $params ) {
		-webkit-animation:$params;
		-moz-animation:$params;
		animation:$params;
	}

	@-webkit-keyframes header {
		27% { @include box-shadow(9px 11px 1px lighten($teal, 41%)); }
		77% { @include box-shadow(9px 11px 1px lighten($sky, 11%)); }
	}
	@-moz-keyframes header {
		27% { @include box-shadow(9px 11px 1px lighten($teal, 41%)); }
		77% { @include box-shadow(9px 11px 1px lighten($sky, 11%)); }
	}
	@keyframes header {
		27% { @include box-shadow(9px 11px 1px lighten($teal, 41%)); }
		77% { @include box-shadow(9px 11px 1px lighten($sky, 11%)); }
	}

	@-webkit-keyframes in-a-band {
		27% { @include text-shadow(1px 0px 4px darken($purp, 7%)); }
		57% { @include text-shadow(-1px 1px 4px darken($sky, 13%)); }
	}
	@-moz-keyframes in-a-band {
		27% { @include text-shadow(1px 0px 4px darken($purp, 7%)); }
		57% { @include text-shadow(-1px 1px 4px darken($sky, 13%)); }
	}
	@keyframes in-a-band {
		27% { @include text-shadow(1px 0px 4px darken($purp, 7%)); }
		57% { @include text-shadow(-1px 1px 4px darken($sky, 13%)); }
	}

body { 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	@include background-image(
		/* radial-gradient(center center, color-stops( lighten($sky, 33%) 11%, lighten($sky, 21%) 31%, $sky 91%) ), */
		image-url('bg.png')
	);
	cursor:default;
	overflow:hidden;
}

header, hgroup, h1, h2, h3, body > header > p { @include transition(all 277ms ease-in-out); }

body > header {
	position:relative;
	z-index:2;
	@include chau;
	@include opacity(0.87);
	hgroup {
		width:$width;
		word-spacing:-0.3em;
		margin:1.5em 0 0 -0.4em;
		@include rotate(-2deg);
		@media all and ( max-height: 200px ) {
			position:absolute;
			top:-1.3em;
		}
		h1, h2, h3 {
			display:inline;
			padding:0.2em;
			@include border-radius(0.1em);
			@include box-shadow(-9px -11px lighten($yella, 15%));
			@include box-shadow(9px 11px 1px lighten($sky, 7%));
			&:hover { @include box-shadow(9px 11px 1px lighten($sky, 7%)); }
			@media all and ( max-height: 200px ) { @include box-shadow(-2px -5px lighten($yella, 15%)); @include box-shadow(2px 5px 1px lighten($sky, 7%)); padding:0 0.3em; }
		}
		h1 { 
			@include animation(header 1277ms 500ms 2);
			color:#fff; 
			background-color:$purp; 
			font-size:6.9em; 
			padding-top:1em; 
			@include box-shadow(9px 11px 1px lighten($teal, 11%)); 
			&:hover { color:$sky; }
			@media all and ( max-height: 200px ) { font-size:1.7em; background-color:saturate($yella, 77%); color:$purp; padding-left:0.7em; }
		}
		h2 {
			@include animation(header 977ms 750ms 2);
			color:$teal;
			background-color:saturate($yella, 77%);
			font-size:7.3em;
			padding-bottom:.36em;
			@include box-shadow(9px 11px 1px lighten($pink, 11%));
			&:hover { color:$purp; }
			@media all and ( max-height: 200px ) { font-size:1.9em;  background-color:lighten($teal, 17%);  color:#fff; }
		}
		h3 {
			@include animation(header 777ms 1000ms 2);
			color:lighten($pink, 13%);
			background-color:lighten($teal, 17%);
			font-size:5.3em;
			padding-right:30%;
			@include box-shadow(9px 11px 1px lighten($yella, 11%)); 
			&:hover { color:#fff; }
			@media all and ( max-height: 200px ) { font-size:1.5em; background-color:$purp; color:$sky; padding-left:0.7em; }
		}
	}
	p {
		position:absolute;
		top:0;
		right:0;
		width:25%;
		@include marker(4);
		@include border-radius(0.9em);
		@include box-shadow(-0.5em -0.5em lighten($pink, 17%));
		background-color:lighten($pink, 19%);
		font-size:1.3em;
		color:$purp;
		padding:0.5em;
		margin:2.2em;
		text-align:center;
		@media all and ( max-height: 200px ) {
			a { display: none; }
		}
	}
	a {
		color:darken($purp, 31%);
		font-size:1.9em;
		text-decoration:none;
		&:hover { color:darken($purp, 31%); @include animation(in-a-band 833ms 1); }
	}
}

body > div {
	z-index:1;
	ul {
		position:absolute;
		top:0;
		display:table;
		width:100%;
		height:100%;
	}
	li {
		display:table-cell;
		vertical-align:middle;
		width:50%;
		text-align:center;
		font-size:100%;
		&.right-track { right:0;
			button:hover { @include rotate(2deg); }
		}
		button {
			display:block;
			width:2.5em;
			margin:auto;
			overflow:visible;
			text-align:center;
			outline:0;
			padding:0;
			border:0;
			background:transparent;
			@include outline;
			@include text-shadow(0.02em 0.02em 0.15em $teal);
			font-size:6.5em;
			color:#999;
			@media all and ( max-height: 200px ) { display:inline; font-size:1.5em; }
			&:first-child { color:#222; font-size:7em;
				@include text-shadow(0.02em 0.02em 0.15em $purp);
				@media all and ( max-height: 200px ) { color:#222; font-size:1.5em;
					@include text-shadow(0.02em 0.02em 0.15em $purp);
				}
			}
			&.hover { @include sketch; @include rotate(-2deg); }
			&.active { color:darken($teal, 15%); }
		}
	}
}

footer {
	.comp {
		position:absolute;
		width:100%;
		padding-top:4em;
		background:lighten($teal, 25%);
		@include opacity(.91);
		border-top:7em solid lighten($teal, 37%);
		bottom:0;
		@media all and ( max-height: 200px ) { padding-top:0em !important; }
		ul {
			width:100%;
			position:absolute;
			bottom:4em;
			border-bottom:2em solid lighten($teal, 31%);
		}
		li {
			position:absolute;
			@include box-sizing('border-box');
			padding:2em;
			width:50%;
			bottom:0;
			&.right { right: 0; }
			@media all and ( max-height: 200px ) { bottom:-4em !important; }
		}
		figcaption {
			@include border-radius(0.1em);
			@include marker(1);
			background-color:#fff;
			color:#222;
			border-top:0.7em solid lighten($pink, 13%);
			padding:0.8em;
			font-size:2em;
			cursor:pointer;
			@include rotate(-2deg);
			@include transition(all 203ms ease-in-out, background-color 97ms ease-in-out, margin-top 709ms ease-in, box-shadow 88ms ease-out);
			&:hover { font-size:3em;
				@include box-shadow(-0.5em 0.5em darken($sky, 6%));
				@media all and ( max-height: 200px ) { font-size:1.3em !important; }
			}
			&:active { margin-top:10em;
				@include transform3d( rotate(-4deg) );
				@include transform-origin( right, top );
			}
			@media all and ( max-height: 200px ) { font-size:1em !important; }
		}
		li.right figcaption {
			border-color:$sky;
			@include marker(2);
			@include rotate(1deg);
			text-align:right;
			&:hover { @include box-shadow(0.5em 0.5em lighten($pink, 7%));  }
			&:active { @include transform3d( rotate(4deg) ); @include transform-origin( left, top ); }
		}
	}
}

  @media all and ( max-width: 680px ) {
    body > header {
      hgroup {
        position:absolute;
        top:-1em;
        h1 { font-size:2.9em; padding-left:0.4em; background-color:saturate($yella, 77%); color:$purp; }
        h2 { font-size:3.3em; background-color:lighten($teal, 17%); color:#fff; }
        h3 { font-size:2.3em; background-color:$purp; color:$sky; padding-left:0.4em; display:block; position:relative; z-index:2; margin-top:0; }
      }
      p {
        padding:0.1em;
        margin:1.1em;
        width:55%;
        font-size:1.1em;
        a { display:none; }
      }
    }
    body > div {
      li button {
        display:inline;
        font-size:3em;
      }
      li button:first-child {
        color:#222;
        font-size:5em;
        @include text-shadow(0.02em 0.02em 0.15em $purp);
      }
    }
    .comp {
      border-top-width:4em !important;
      bottom:0 !important;
      ul { bottom:2em !important; }
        li { padding:1em !important; }
        figcaption { font-size:1.3em !important; }
          figcaption:hover { font-size:1.9em !important; }
    }
  }